@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';

body {
   background-color: #0d0d0d;
   font-family: 'Poppins', sans-serif;
}

@theme {
   --color-primary: #ff69b4;
   --color-card: #1a1a1a;
}
.swiper-pagination-bullet {
   background-color: #1a1a1a;
   opacity: 1;
}
.swiper-pagination-bullet-active {
   background-color: #ff69b4;
}
